In [37]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [38]:
df=pd.read_csv("C:/Users/RIYA GUPTA/Downloads/Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [39]:
df.shape

(13320, 9)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [41]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [42]:
#removing those column that don't take part in price
df1=df.drop(['area_type','availability','society','balcony'],axis=1)
df1

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [43]:
#data cleaning
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [44]:
df2=df1.dropna()

In [45]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [46]:
df2['bhk']=df2['size'].apply(lambda x:int(x.split(' ')[0]))   #tokenizing bhk column
df2

<ipython-input-46-e18468a480bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk']=df2['size'].apply(lambda x:int(x.split(' ')[0]))   #tokenizing bhk column

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [47]:
df2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [48]:

def is_float(x):
    try:
        float(x)    #converting total_sqft value to float
    except:           #if its a range value return false
        return False
    return True

In [49]:
df2[~df2['total_sqft'].apply(is_float)]           #~ will show those rows for which is-float function return false

                 location   size   total_sqft  bath    price  bhk
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800    2
...                   ...    ...          ...   ...      ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000    3
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760    2
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135    2
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500    4

[190 rows x 6 columns]

In [50]:
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

In [51]:
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2    #if range convert to averge
    try:
        return float(x)  #if number than convert to float
    except:
        return None

In [52]:
df3=df2.copy()   #deep copy
df3['total_sqft']=df3['total_sqft'].apply(convert_sqft_to_num)
df3.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [53]:
df3.loc[13059]  #for 30th row

location      Harlur
size           2 BHK
total_sqft      1335
bath               2
price          72.76
bhk                2
Name: 13059, dtype: object

In [54]:
df3.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [55]:
df3.location=df3.location.apply(lambda x:x.strip())

location_stats=df3.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield           535
Sarjapur  Road       392
Electronic City      304
Kanakpura Road       266
Thanisandra          236
                    ...
LIC Colony             1
Kuvempu Layout         1
Kumbhena Agrahara      1
Kudlu Village,         1
1 Annasandrapalya      1
Name: location, Length: 1293, dtype: int64

In [56]:
len(location_stats[location_stats<=10])

1052

In [57]:
locationlessthan10=location_stats[location_stats<=10]
locationlessthan10

location
BTM 1st Stage          10
Basapura               10
Sector 1 HSR Layout    10
Naganathapura          10
Kalkere                10
                       ..
LIC Colony              1
Kuvempu Layout          1
Kumbhena Agrahara       1
Kudlu Village,          1
1 Annasandrapalya       1
Name: location, Length: 1052, dtype: int64

In [58]:
df3.location=df3.location.apply(lambda x:'other' if x in locationlessthan10 else x)
len(df3.location.unique())

242

In [59]:
#removing outliers
df3[df3.total_sqft/df3.bhk<300].head()

               location       size  total_sqft  bath  price  bhk
9                 other  6 Bedroom      1020.0   6.0  370.0    6
45           HSR Layout  8 Bedroom       600.0   9.0  200.0    8
58        Murugeshpalya  6 Bedroom      1407.0   4.0  150.0    6
68  Devarachikkanahalli  8 Bedroom      1350.0   7.0   85.0    8
70                other  3 Bedroom       500.0   3.0  100.0    3

In [60]:
df4=df3[~(df3.total_sqft/df3.bhk<300)]
df4.shape

(12502, 6)

In [61]:
df5=df4.copy()
df5['price_per_sqft']=df5['price']*100000/df5['total_sqft']
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [62]:
def remove_outliers(df):
    df_out=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df6=remove_outliers(df5)
df6.shape

(10241, 7)

In [63]:
def remove_bhk_outliers(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={'mean':np.mean(bhk_df.price_per_sqft),
                           'std':np.std(bhk_df.price_per_sqft),
                           'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

df7=remove_bhk_outliers(df6)
df7.shape

(7329, 7)

In [64]:
df7.bath.unique()

array([ 4.,  3.,  2.,  5.,  8.,  1.,  6.,  7.,  9., 12., 16., 13.])

In [65]:
df7[df7.bath>10]

            location    size  total_sqft  bath  price  bhk  price_per_sqft
5277  Neeladri Nagar  10 BHK      4000.0  12.0  160.0   10     4000.000000
8486           other  10 BHK     12000.0  12.0  525.0   10     4375.000000
8575           other  16 BHK     10000.0  16.0  550.0   16     5500.000000
9308           other  11 BHK      6000.0  12.0  150.0   11     2500.000000
9639           other  13 BHK      5425.0  13.0  275.0   13     5069.124424

In [66]:
df7[df7.bath>df7.bhk+2]

           location       size  total_sqft  bath   price  bhk  price_per_sqft
1626  Chikkabanavar  4 Bedroom      2460.0   7.0    80.0    4     3252.032520
5238     Nagasandra  4 Bedroom      7000.0   8.0   450.0    4     6428.571429
6711    Thanisandra      3 BHK      1806.0   6.0   116.0    3     6423.034330
8411          other      6 BHK     11338.0   9.0  1000.0    6     8819.897689

In [67]:
df8=df7[df7.bath<df7.bhk+2]
df8.shape

(7251, 7)

In [68]:
df8

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10232,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
10233,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
10236,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10237,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10240,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [69]:
df9=df8.drop(['size','price_per_sqft'],axis=1)
df9

                  location  total_sqft  bath  price  bhk
0      1st Block Jayanagar      2850.0   4.0  428.0    4
1      1st Block Jayanagar      1630.0   3.0  194.0    3
2      1st Block Jayanagar      1875.0   2.0  235.0    3
3      1st Block Jayanagar      1200.0   2.0  130.0    3
4      1st Block Jayanagar      1235.0   2.0  148.0    2
...                    ...         ...   ...    ...  ...
10232                other      1200.0   2.0   70.0    2
10233                other      1800.0   1.0  200.0    1
10236                other      1353.0   2.0  110.0    2
10237                other       812.0   1.0   26.0    1
10240                other      3600.0   5.0  400.0    4

[7251 rows x 5 columns]

In [70]:
df9.location.unique()

array(['1st Block Jayanagar', '1st Phase JP Nagar',
       '2nd Phase Judicial Layout', '2nd Stage Nagarbhavi',
       '5th Block Hbr Layout', '5th Phase JP Nagar', '6th Phase JP Nagar',
       '7th Phase JP Nagar', '8th Phase JP Nagar', '9th Phase JP Nagar',
       'AECS Layout', 'Abbigere', 'Akshaya Nagar', 'Ambalipura',
       'Ambedkar Nagar', 'Amruthahalli', 'Anandapura', 'Ananth Nagar',
       'Anekal', 'Anjanapura', 'Ardendale', 'Arekere', 'Attibele',
       'BEML Layout', 'BTM 2nd Stage', 'BTM Layout', 'Babusapalaya',
       'Badavala Nagar', 'Balagere', 'Banashankari',
       'Banashankari Stage II', 'Banashankari Stage III',
       'Banashankari Stage V', 'Banashankari Stage VI', 'Banaswadi',
       'Banjara Layout', 'Bannerghatta', 'Bannerghatta Road',
       'Basavangudi', 'Basaveshwara Nagar', 'Battarahalli', 'Begur',
       'Begur Road', 'Bellandur', 'Benson Town', 'Bharathi Nagar',
       'Bhoganhalli', 'Billekahalli', 'Binny Pete', 'Bisuvanahalli',
       'Bommanahalli', 'Bommasandra', 'Bommasandra Industrial Area',
       'Bommenahalli', 'Brookefield', 'Budigere', 'CV Raman Nagar',
       'Chamrajpet', 'Chandapura', 'Channasandra', 'Chikka Tirupathi',
       'Chikkabanavar', 'Chikkalasandra', 'Choodasandra', 'Cooke Town',
       'Cox Town', 'Cunningham Road', 'Dasanapura', 'Dasarahalli',
       'Devanahalli', 'Devarachikkanahalli', 'Dodda Nekkundi',
       'Doddaballapur', 'Doddakallasandra', 'Doddathoguru', 'Domlur',
       'Dommasandra', 'EPIP Zone', 'Electronic City',
       'Electronic City Phase II', 'Electronics City Phase 1',
       'Frazer Town', 'GM Palaya', 'Garudachar Palya', 'Giri Nagar',
       'Gollarapalya Hosahalli', 'Gottigere', 'Green Glen Layout',
       'Gubbalala', 'Gunjur', 'HAL 2nd Stage', 'HBR Layout',
       'HRBR Layout', 'HSR Layout', 'Haralur Road', 'Harlur', 'Hebbal',
       'Hebbal Kempapura', 'Hegde Nagar', 'Hennur', 'Hennur Road',
       'Hoodi', 'Horamavu Agara', 'Horamavu Banaswadi', 'Hormavu',
       'Hosa Road', 'Hosakerehalli', 'Hoskote', 'Hosur Road', 'Hulimavu',
       'ISRO Layout', 'ITPL', 'Iblur Village', 'Indira Nagar', 'JP Nagar',
       'Jakkur', 'Jalahalli', 'Jalahalli East', 'Jigani',
       'Judicial Layout', 'KR Puram', 'Kadubeesanahalli', 'Kadugodi',
       'Kaggadasapura', 'Kaggalipura', 'Kaikondrahalli',
       'Kalena Agrahara', 'Kalyan nagar', 'Kambipura', 'Kammanahalli',
       'Kammasandra', 'Kanakapura', 'Kanakpura Road', 'Kannamangala',
       'Karuna Nagar', 'Kasavanhalli', 'Kasturi Nagar', 'Kathriguppe',
       'Kaval Byrasandra', 'Kenchenahalli', 'Kengeri',
       'Kengeri Satellite Town', 'Kereguddadahalli', 'Kodichikkanahalli',
       'Kodigehaali', 'Kodigehalli', 'Kodihalli', 'Kogilu', 'Konanakunte',
       'Koramangala', 'Kothannur', 'Kothanur', 'Kudlu', 'Kudlu Gate',
       'Kumaraswami Layout', 'Kundalahalli', 'LB Shastri Nagar',
       'Laggere', 'Lakshminarayana Pura', 'Lingadheeranahalli',
       'Magadi Road', 'Mahadevpura', 'Mahalakshmi Layout', 'Mallasandra',
       'Malleshpalya', 'Malleshwaram', 'Marathahalli', 'Margondanahalli',
       'Marsur', 'Mico Layout', 'Munnekollal', 'Murugeshpalya',
       'Mysore Road', 'NGR Layout', 'NRI Layout', 'Nagarbhavi',
       'Nagasandra', 'Nagavara', 'Nagavarapalya', 'Narayanapura',
       'Neeladri Nagar', 'Nehru Nagar', 'OMBR Layout', 'Old Airport Road',
       'Old Madras Road', 'Padmanabhanagar', 'Pai Layout', 'Panathur',
       'Parappana Agrahara', 'Pattandur Agrahara', 'Poorna Pragna Layout',
       'Prithvi Layout', 'R.T. Nagar', 'Rachenahalli',
       'Raja Rajeshwari Nagar', 'Rajaji Nagar', 'Rajiv Nagar',
       'Ramagondanahalli', 'Ramamurthy Nagar', 'Rayasandra',
       'Sahakara Nagar', 'Sanjay nagar', 'Sarakki Nagar', 'Sarjapur',
       'Sarjapur  Road', 'Sarjapura - Attibele Road',
       'Sector 2 HSR Layout', 'Sector 7 HSR Layout', 'Seegehalli',
       'Shampura', 'Shivaji Nagar', 'Singasandra', 'Somasundara Palya',
       'Sompura', 'Sonnenahalli', 'Subramanyapura', 'Sultan Palaya',
       'TC Palaya', 'Talaghattapura', 'Thanisandra', 'Thigalarapalya',
       'Thubarahalli', 'Thyagaraja Nagar', 'Tindlu', 'Tumkur Road',
       'Ulsoor', 'Uttarahalli', 'Varthur', 'Varthur Road', 'Vasanthapura',
       'Vidyaranyapura', 'Vijayanagar', 'Vishveshwarya Layout',
       'Vishwapriya Layout', 'Vittasandra', 'Whitefield',
       'Yelachenahalli', 'Yelahanka', 'Yelahanka New Town', 'Yelenahalli',
       'Yeshwanthpur', 'other'], dtype=object)

In [71]:
df9=pd.get_dummies(df9,drop_first=True)

In [72]:
df9

,total_sqft,bath,price,bhk,location_1st Phase JP Nagar,location_2nd Phase Judicial Layout,location_2nd Stage Nagarbhavi,location_5th Block Hbr Layout,location_5th Phase JP Nagar,location_6th Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,2850.0,4.0,428.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,1200.0,2.0,70.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10233,1800.0,1.0,200.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10236,1353.0,2.0,110.0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10237,812.0,1.0,26.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10240,3600.0,5.0,400.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [73]:
x=df9.drop('price',axis=1)
y=df9['price']
print(x.shape,y.shape)

(7251, 244) (7251,)

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=51)

In [75]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(5075, 244) (2176, 244) (5075,) (2176,)

In [76]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
reg=LinearRegression()
reg

LinearRegression()

In [79]:
reg.fit(x_train,y_train)

LinearRegression()

In [80]:
reg.coef_

array([ 70.13905007,  -1.3915004 ,  -5.88699576,  -4.77066495,
        -5.13488891,   0.35050047,  -6.09677083,  -8.36390049,
        -4.98071737, -13.30449659, -11.48059052,  -8.57809874,
        -4.59679533,  -8.02824133, -11.92456059,  -5.59588954,
        -7.9356355 ,  -6.73427987,  -6.71733928,  -8.85143537,
        -7.59664806,  -4.60263812,  -6.5926165 ,  -5.46328067,
        -8.85593629,  -1.9550626 ,  -6.52075812,  -6.92923085,
        -6.20251723,  -5.04833067,  -7.83817885, -11.36574425,
        -1.24102946,  -6.68006205,  -6.10708491,  -7.93853556,
        -5.31200554,  -2.97147636,  -4.09583246, -16.99160539,
        -2.56751474,  -3.07615688,  -7.56137246,  -6.01547428,
       -14.80672564, -14.69979129,  -0.14842674,  -4.86409283,
        -7.4227587 ,  -5.4008765 ,  -4.17835046,  -9.53034944,
        -7.26324014,  -9.7384024 ,  -6.63458071,  -3.60635848,
        -8.24152339,  -9.81480868,  -7.37478061,  -3.64637722,
       -13.46377242, -10.56096292,  -7.94682221,  -6.90561491,
        -6.65716773,  -8.00285364,  -1.82246391,  -3.90084726,
         9.60745495,  -3.63014082,  -4.21524434,  -9.36559219,
        -6.31018497,  -8.99970065,  -4.24986053,  -4.68434758,
        -8.22836486,  -4.52223029,  -6.14643706,  -6.69571169,
       -20.20732844, -17.36667811, -11.02550972,  -4.50732447,
        -4.26035777,  -6.5907094 ,   3.55968603,  -6.04701741,
       -11.08178761,  -6.71031399,  -5.28493461,  -7.68131533,
         2.47806172,  -6.15266356,  -5.74170615, -11.23321074,
       -18.96746472, -11.47214846, -14.56553493,  -4.85756646,
        -8.7553676 , -12.68940818, -17.06069956, -10.00344301,
        -9.74545189,  -8.42961771, -11.57523404,  -8.87338643,
        -2.81488737,  -6.80555111,  -7.50214472, -10.07906159,
        -4.83141984,  -5.98586163,  -7.07321224,  -0.11394388,
        -9.63177066, -10.48039581,  -7.37724195,  -4.39121959,
        -7.12415944,  -4.20637756, -15.67495328,  -4.43377776,
        -8.88081968, -11.14231413,  -5.28474518,  -4.20330393,
        -7.32830384,  -6.66290611,  -5.9625492 ,  -5.15308759,
        -8.43739369,  -7.9865222 , -14.01925019,  -6.08508127,
        -4.10826372, -11.94884821,  -5.1167865 ,  -6.02151876,
        -7.53117391,  -5.0974062 , -10.68078182,  -9.19699724,
        -6.04035512,  -7.02913069,  -4.78950853,  -2.91843461,
        -1.09455586,  -8.35896093,  -3.25285794,  -4.69798874,
        -4.93515782, -13.10995957,  -8.44883044,  -9.06516378,
        -6.89380284,  -7.23420747,  -5.2083336 ,  -3.81283209,
        -6.45567029,  -5.83367908,  -6.65112747,  -8.46375468,
        -2.62481223,  -6.41717043,  -6.03278964,   0.65946677,
       -18.11242451,  -5.42387   ,  -1.79427726,  -7.15652005,
        -6.18083722,  -6.55729082,  -8.89269805,  -5.34999524,
        -5.53983103,  -6.60546187,  -3.00260592,  -6.32150292,
        -3.6620917 ,  -5.80092024,  -5.88442644,  -5.285663  ,
        -5.05266133,  -8.5349655 ,  -9.03544843,  -5.85971879,
        -7.53453244,  -7.74305855,  -6.69224523,  -4.68674096,
        -2.71860437,  -4.74040333,  -5.76795269,  -8.61058203,
       -21.29324204,   2.06683766,  -4.56781452, -10.03585434,
       -10.25399383,  -8.01364091,  -8.59118238,  -5.13346155,
        -0.75206998, -14.46520371, -20.4510145 ,  -7.64891004,
        -5.00316177,  -4.40019137,  -6.13646521,  -4.13967754,
        -3.22480572,  -6.2744352 ,  -5.95523899,  -4.79359334,
        -6.42344144,  -7.4028253 ,  -5.53300891,  -9.17083822,
        -8.51754717, -16.21244366,  -7.40212556,  -6.9360271 ,
        -2.51833451,  -6.22878472,  -6.88942458,  -4.08902316,
       -20.02535356, -11.44938644,  -4.7139651 ,  -4.8394453 ,
        -7.37113956,  -8.18654397,  -4.76025297,  -3.3716488 ,
        -9.63785119, -25.24944616,  -5.23643842, -15.478746  ,
        -7.46335271,  -5.48314514,  -8.65566429, -39.12957822])

In [81]:
reg.intercept_

95.94108472906406

In [82]:
pred=reg.predict(x_test)     #reg.predict([x_test[0:1]])  for single house 
pred

array([ 67.64542194, 218.43986996, 104.54233248, ...,  28.70706122,
        99.3191674 ,  39.1160375 ])

In [83]:
y_test

9128     48.0
2911    198.0
5065    126.0
5887     57.9
3904     60.0
        ...
9978     90.0
687      75.0
3756     60.0
145     100.0
249      39.0
Name: price, Length: 2176, dtype: float64

In [84]:
reg.score(x_test,y_test)   #score tells how much our model is accurate

0.8271836489684138

In [85]:
from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(y_test,pred)
rmse=np.sqrt(mse)
print("Mean square error",mse)
print("Root mean square error",rmse)

Mean square error 1498.2995555324576
Root mean square error 38.70787459332348

In [86]:
print(r2_score(y_test,pred))

0.8271836489684138

# LASSO AND RIDGE REGRESSION

In [125]:
from sklearn.linear_model import Lasso,Ridge

In [126]:
reg.score(x_test,y_test)   #score tells how much our model is accurate

0.8271836489684138

In [127]:
reg.score(x_train,y_train)   #score tells how much our model is accurate

0.8527803346611735

In [128]:
lasso_reg=Lasso(alpha=1)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=1)

In [129]:
lasso_reg.score(x_test,y_test)   #score tells how much our model is accurate

0.8292037301150464

In [130]:
lasso_reg.score(x_train,y_train)   #score tells how much our model is accurate

0.8351406269691607

In [131]:
ridge_reg=Ridge(alpha=1)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=1)

In [132]:
ridge_reg.score(x_train,y_train)

0.8527176722633323

In [133]:
ridge_reg.score(x_test,y_test)

0.8272483783958782